* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.session-1 {
  height: 100vh;
  width: 100vw;
  background-position: center;
}

.session2 {
  width: 100vw;
  background: white;
  min-height: 50vh;
}

.session2-line {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
  content: "";
  background: #56b665;
  height: 3px;
}

.ss3 {
  background: transparent;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.bg-ss3 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-position: center;
  left: 0;
}

.parallax {
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}
.parallax__layer {
  position: absolute;
  top: 0;
  padding: 60vh 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.parallax__layer--back {
  webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  background-image: url("../../image/home-header.jpg");
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

​.parallax::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.ss4 {
  background: #f6f6f6;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line {
  display: block;
  content: "";
  background: #56b665;
  width: 30px;
  height: 2px;
  margin-top: 23px;
  margin-left: auto;
  margin-right: auto;
}

.h6-text {
  font-size: 12px;
  color: #303030 !important;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: none;
  font-weight: 100;
  line-height: 20px;
}
.ss6-card {
  position: relative;
  margin: 10px 0;
}
.ss6-card:before {
  content: "";
  position: absolute;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  width: 55px;
  height: 30px;
  left: 0;
  top: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.ss6-card:hover:before {
  width: 100%;
  height: 100%;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
}

.ss6-card:after {
  content: "";
  position: absolute;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 55px;
  height: 30px;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.ss6-card:hover:after {
  width: 100%;
  height: 100%;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.ss7-image {
  position: relative;
}
.ss7-card-over {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.ss7-image:hover .ss7-card-over {
  display: block !important;
}

.ss7-btn {
  font-size: 17px;
  border-radius: 50px;
  border: 1px solid #fff;
  background: transparent;
  color: white;
  padding: "20px 25px";
}
.ss7-btn:hover {
  background-color: #56b665;
  border: 1px solid #56b665;
}
