.sv-card {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 1%);
  box-shadow: 0 0 10px rgb(0 0 0 / 1%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: calc(0.375rem - 1px);
}

.sv-card:hover {
  transform: translateY(-10px);
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  border-radius: calc(0.375rem - 1px);
}
